In [2]:
import pandas as pd

# Read the data
df = pd.read_csv('data/letters.csv')

In [3]:
# take the text from the first letter
text = df.text[109]
# https://github.com/alexandrainst/danlp/blob/master/docs/docs/gettingstarted/quickstart.md


def extract_sentences(text):
    """Extract sentences from text"""
    import spacy
    import da_core_news_sm
    nlp = da_core_news_sm.load()
    nlp.add_pipe("sentencizer")
    doc = nlp(text)
    return list(doc.sents)

In [4]:


# foreach letter extract sentences from text and put into a new dataframe with letter_id, sentence_id, sentence and letter_sentence_index
sentences=[]
for index, row in df.iterrows():
    letter_id = row['id']
    text = row['text']
    sents = extract_sentences(text)
    for i, sent in enumerate(sents):
        df_sentences = sentences.append({'letter_id': letter_id, 'sentence': sent.text.strip(), 'letter_sentence_index': i})

In [7]:
df_sentences = pd.DataFrame(sentences)
df_sentences['id'] = df_sentences.index
df_sentences.set_index('id', inplace=True)

df_sentences.to_csv('data/sentences.csv')

In [10]:
df_sentences

,letter_id,sentence,letter_sentence_index,afinn_score
id,,,,
0,1,Min egen kære Trine.,0,2.0
1,1,Tak for sidst.,1,2.0
2,1,Jeg er saa forkølet at jeg snart ikke kan snakke.,2,0.0
3,1,Det er jo kedelig nu til Søndag for Kommandoen.,3,-2.0
4,1,"Og Mor kan slet ikke forstaa, hvorledes jeg ka...",4,0.0
...,...,...,...,...
14229,666,Min egen kære Mor! Hjærtelig tillykke på din ...,0,4.0
14230,666,De allerbedste Tanker og Ønsker sender jeg dig...,1,4.0
14231,666,Havde håbet at jeg med min egen Person havde k...,2,6.0
14232,666,Din store Dreng,3,0.0
14233,666,"Hils alle fra mig, min Trine og min lille Pige",4,0.0